**__pycache__/
scratch/
**/scratch/
*.egg-info/
**build/
**dist/
# **results/
results/*
runs/*
!runs/example
cache/*
!results/timing/
.env
_build_cache/
uv.lock
CLAUDE.md
runs_output/
runs_output_*
logs_*